#topTitle{
	text-align: center;
}

li{
	list-style-type: none;
}

.collectionOfPizzaDivs{
	margin-right: auto;
	margin-left: auto;
	width: 604px;
	display: flex;
}

.pizzaDivBox{
	background-color: yellow;
	height: 600px;
	padding: 40px;
}

.firstDiv{
	border-right-style: solid;
	border-right-width: 1px;
	width: 190px;
}

.secondDiv{
	border-left-style: solid;
	border-left-width: 1px;
	width: 410px;
}

body{
	background-image:url(pizzaBackground.jpg);
	background-repeat: repeat;
}

#picture{
	display: none;
	max-width: 300px;
}

#hideForPizza{
	display: none;
	padding-left: 0px;
}